<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Gaussmetre file upload</title>
	</head>

	<body>

		<h1>Enregistrement relevés Gaussmetre</h1>

		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{% if station_names %}
			<div>
			<h3>Selectionnez le nom de la station :</h3>
				<select name="station_name">
				{% for station_name in station_names %}
					<option value="{{ station_name }}">{{ station_name }}</option>
				{% endfor %}
				</select>
				<p>{{ form.non_field_errors }}</p>
				<p>{{ form.docfile.label_tag }}</p>
				<p>
					{{ form.docfile.errors }}
					{{ form.docfile }}
				</p>
			<p><input type="submit" value="Upload" /></p>
			</div>
			{% else %}
				<p>Pas de station, ajoutez en depuis le /admin.</p>
			{% endif %}
		</form>

	</body>

</html>
